#Space{
    margin-right: 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
}
#Associated-Org-Name{
    padding-top: 1vmax;
    font-size: 2vmax;
}
#Search-Bar{
    width: 35%;
    background-color: #1E2432;
    padding: 1vh 1vw 1vh;
    color: white;
    background-image: url('src="../../assets/images/org_icons/search.png');
    background-repeat: no-repeat;
    border-radius: 1rem;
    box-sizing: border-box;
    border-style: hidden;
    font-size: 1vi;
}
.Org-Layout{
    border: 1;
    border-radius: 1rem;
    border-color: #232937;
    border-style: solid;
    padding: 1em 1em 1em;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    font-size: 1vmax;
    background-color: #131824;
}
#Form-Section{
    display: flex;
    flex-direction: row;
    column-gap: 1vh;
    align-items: center;
}
#tag{
    border: 1px;
    border-radius: 2rem;
    border-color: #232937;
    border-style: solid;
    padding:.3vh .7vw .3vh;
}
#type{
    border: 1px;
    border-radius: 2rem;
    border-color: #232937;
    border-style: solid;
    padding:.2vh .8vw .2vh;
    background-color: #1E2432;
    color: white;
}
#Form-Button{
    background-color: #6366F1;
    color: white;
    margin-left: auto;
    font-size: .9vmax;
    display: flex;
    flex-direction: row;
    column-gap: .5rem;
    border-style: hidden;
    align-items: center;
    padding:.5em;
    border-radius: 1rem;
}
.Form-Image{
    width: 1.4vw;
    height: auto;
    max-width: 8vw;
}
#Alert-Space{
    margin-left: 2vw;
}