/* Dashboard Styling */
.OrgDashboard {
    min-width: min-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
}

.OrgDashboard>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.SubCard {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width: 20vw;
}

.SubCard>span {
    flex: 1;
}

.SubCard>span>p:last-of-type {
    font-size: 3rem;
}

.SubCard>img {
    aspect-ratio: 1/1;
    object-fit: cover;
}

.SubCard>div {
    aspect-ratio: 1/1;
    width: fit-content;
    display: flex;
    align-items: center;
}

/* Assigned forms page */

