/* Dashboard styling */

.Main>div:last-child>p {
    font-size: 3rem;
    margin: 10px 0px;
}

.AdminDashboard {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.AdminDashboard>div {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.SubCard {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 20vw;
}

.SubCard>span {
    width: 100%;
}

.SubCard>span>p:last-of-type {
    font-size: 3rem;
}

.SubCard>img {
    aspect-ratio: 1/1;
    object-fit: cover;
}

.SubCard>div {
    aspect-ratio: 1/1;
    width: fit-content;
    display: flex;
    align-items: center;
}

/* Users page styling */

#Content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#AccountsView {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Header {
    display: flex;
    width: 100%;
    height: auto;
}

.Header div:first-of-type {
    flex: 1;
}

#AccountsTableView {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 2rem;
}

#AccountsTableView td,
#AccountsTableView th {
    border-bottom: 1px solid var(--outline-color);
    padding-bottom: 2rem;
}

#AccountsTableView th {
    text-align: left;
    font-weight: normal;
}


/* Logs Page styling */

#LogsView {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#Logs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Log {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}