#AccountsView {
    display: flex;
    flex-direction: column;
}

.Header {
    display: flex;
    width: 100%;
    height: auto;
}

.Header div:first-of-type {
    flex: 1;
}

#AccountsTableView {
    padding: 10px;
    outline: 1px solid #CFCFCF;
    border-radius: 5px;
    width: 100%;
}
