@font-face {
    font-family: "Ubuntu";
    src: url("../assets/fonts/Ubuntu-Regular.ttf");
}

:root {
    --card-bg-color: #131824;
    --subcard-bg-color: #131824;
    --outline-color: #232937;
    --text-color: white;
}

body {
    font-family: "Ubuntu";
    height: 100vh;
    color: var(--text-color);
}

.Card,
.SubCard {
    color: white;
    border-radius: 25px;
    outline: 2px solid var(--outline-color);
}

.Card {
    background-color: var(--card-bg-color);
    padding: 2rem;
}

.SubCard {
    background-color: var(--subcard-bg-color);
}