@media (max-width: 720px) {
  #SideNav {
    position: fixed;
    left: 0;
    width: 4rem;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
}

@media (max-width: 480px) {
  #TopNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2.5rem;
    padding: 0 0.25rem 0 2rem;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }

  #TopNav .logo {
    font-size: 1rem;
  }

  .TopNavButton {
    font-size: 0.7rem;
    padding: 0.25rem 0.4rem;
    height: 1.75rem;
    width: auto;
    gap: 0.25rem;
  }

  .TopNavButton .ButtonIcon {
    width: 0.5rem;
    height: 0.25rem;
  }

  .UserProfile {
    gap: 0.25rem;
  }

  #SideNav {
    position: fixed;
    top: 2.5rem;
    left: 0;
    width: 3rem;
    height: calc(100vh - 2.5rem);
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #ToggleSideNavButton {
    display: none;
  }

  .NavItems {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .icon {
    font-size: 1rem;
    margin: 0;
  }

  .label {
    position: static;
    opacity: 1 !important;
    margin-top: 0.2rem;
    font-size: 0.5rem;
    white-space: normal;
  }

  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }

  #Content {
    margin-top: 2.5rem;
    margin-left: 4rem;
    padding: 1rem 0.5rem 2.5rem 0.5rem;
    font-size: 3vw;

    height: calc(100vh - 3.5rem);
    overflow-y: auto;
    box-sizing: border-box;
  }

  #Content h2,
  #Content p {
    padding-left: 5vw;
  }
}