button {
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-bg-color);
}

section>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    background-color: var(--search-bar-bg-color);
    border-width: 0px;
    color: var(--text-color);
}

button {
    background-color: var(--accent-color);
    border-width: 0px;
    color: white;
}

button:last-child {
    background-color: #32b4ff;
}

.LoginForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    width: 30%;
    gap: 10px;
    padding: 50px 40px;
}

.LoginForm>div,
.LoginForm div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#InputFields {
    gap: 20px;
}

.LoginForm> :nth-last-child(2) {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
}

.LoginForm input {
    border-radius: var(--border-rad);
    height: 2rem;
}

.LoginForm button {
    margin-top: 25px;
    padding: 10px;
    height: 3rem;
    width: 100%;
    border-radius: var(--border-rad);
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.LoginForm button>img {
    aspect-ratio: 1 / 1;
    height: 100%;
}

.LoginForm > div:first-child {
    display: flex;
    flex-direction: row;
}

.ImageWrapper {
  position: relative;
  width: 100px;
  height: 100px;
  aspect-ratio: 1 / 1;   /* ensures 1:1 ratio */
  overflow: hidden;
  border-radius: 8px;    /* optional: rounded corners */
}

.ImageWrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;     /* crop to fill without distortion */
}

.header {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .header h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }
  
  .header h2 {
    margin-top: 0;
    font-size: 1.5rem;
    line-height: 1.4;
  }
