:root {
    --border-rad: 10px;
}

button {
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    width: 100vw;
    height: 100vh;
}

section>div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LoginForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    width: 40%;
    gap: 10px;
    padding: 50px 40px;
}

.LoginForm>div,
.LoginForm div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#InputFields {
    gap: 20px;
}

.LoginForm> :nth-last-child(2) {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
}

.LoginForm input {
    border-radius: var(--border-rad);
    height: 2rem;
}

.LoginForm button {
    margin-top: 25px;
    padding: 10px;
    height: 3rem;
    width: 100%;
    border-radius: var(--border-rad);
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.LoginForm button>img {
    aspect-ratio: 1 / 1;
    height: 100%;
}